.layoutWrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(17.5rem,1fr));
    grid-gap: 2.5rem 2rem;
    margin-left: 0;
}

.layout__image{
    figure {
        width: auto;
        max-width: none;
        margin-left: 0;
        transform: none;
    }

    img {
        border-radius: 50%;
    }
}

