
.mainContent--home .post-list {
  background-color: var(--color-bg);
}

.intro--home {
    background: linear-gradient(var(--color-theme-introHome-bg), var(--color-bg));
    color: var(--color-theme-introHome-text);
    font-family: sans-serif;
    height: 100vh;

  .layer {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 24em;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: hidden;
  }

  .grid {
    display: grid;
    grid-gap: 0px;
    grid-template-columns: 11.1vh 11.1vh 11.1vh;
    grid-template-rows: 11.1vh 11.1vh 11.1vh;
    margin: 0 auto;
    width: 33.3vh;
    -webkit-animation: rotateLogo 5s infinite; /* Safari 4.0 - 8.0 */
    animation: rotateLogo 5s infinite;
  }

  .intro__heading {
    color: #fff;
  }

  .intro__heading, h2 {
    @include apply-utility('font', 'base');
    letter-spacing: .1em;
    text-transform: uppercase;
  }

  @keyframes rotateLogo {
    0% {
        transform: rotate3d(5, 5, 1, 0deg);
    }
    100% {
        transform: rotate3d(5, 5, 5, 360deg);
    }
  }

  .grid__item {
    border: 1px solid transparent;
  }

  .grid__item:nth-of-type(odd) {
    background-color: var(--color-secondary);
    opacity: 0.75;
  }

  .grid__item:nth-of-type(1) {
    opacity: 0.5;
  }

  .grid__item:nth-of-type(7) {
    opacity: 0.25;
  }

  .grid__item:nth-of-type(3) {
    opacity: 1;
  }

  .grid__item:last-child {
    background-color: transparent;
  }
}