.intro {
  text-align: center;

  &__summary {
    --flow-space: #{get-size(500)};
    font-size: get-size(500);
    margin: 0 auto;

    a {
      color: currentColor;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &__heading {
    font-size: get-size(max);
    max-width: 40ex;
    margin-bottom: #{get-size(500)};
    line-height: 1.2;
    color: var(--color-theme-feature-text);
    @include apply-utility('font', 'cursive');

    &--compact { // do I need this?
      max-width: 20ex;
    }
  }
}
