.nav {
  flex: 1;

  &__list {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }

    > * + * {
      margin-left: get-size(500);
    }

    &--footer {
      .nav__item {
        padding: 0;
      }

      justify-content: center;

      @media screen and (min-width: 632px) {
        justify-content: right;
      }
    }
  }

  &__item {
    padding: get-size(300) 0;
    flex-shrink: 0;

    a {
      color: currentColor;

      @include apply-utility('weight', 'mid');

      &:not(:hover) {
        text-decoration: none;
      }
    }
  }
}
