.site-head {
  z-index: 20;
  background: var(--color-theme-header-bg);
  box-shadow: 0px -3px 10px var(--color-theme-header-border);

  &__site-name {
    font-weight: 700;
    text-decoration: none;
  }

  a {
    color: var(--color-theme-header-text);
  }
}

.site-head--home {
  background: var(--color-theme-introHome-bg);
  box-shadow: none;

  a {
    color: var(--color-theme-introHome-text);
  }
}