.site-foot {
  background: var(--color-bg-dark);
  border-top: 15px solid var(--color-primary);
  color: var(--color-text-light);

  a {
    color: currentColor;

    &:hover {
      text-decoration: none;
    }
  }

  &__credit {
    text-align: center;
  }
}
