// TO DO: make this a little nicer
.theme-toggle {
  text-align: center;

  @media screen and (min-width: 632px) {
    text-align: right;
  }
}

.theme-toggle__button {
  @include apply-utility('font', 'serif');
  background-color: transparent;
  color: var(--color-theme-footer-text);
  font-size: 1rem;
  margin-top: 1.2rem;
  position: relative;
  border-radius: 2px;
  box-shadow: -2px -2px 3px rgba(255,255,255,0.1), 2px 2px 3px rgba(0,0,0,0.1);
  padding: 0.5rem;

  &::after {
    content: '';
    display: inline-block;
    border-radius: 1.5rem;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5) inset;
    margin-left: 0.5rem;
    height: 1rem;
    vertical-align: middle;
    width: 2rem;
  }

  &::before {
    background-color: var(--color-theme-footer-bg);
    border-radius: 50%;
    content: '';
    display: inline-block;
    height: 1rem;
    width: 1rem;
    position: absolute;
    right: 0.5rem;
    top: (0.5rem);
    box-shadow: 0px 0px 8px rgba(255,255,255,0.2) inset;
    transition: all 0.1s ease-in;
  }

  &:active {
    background-color: rgba(0,0,0,0.1);
    box-shadow: none;
    transform: scale(1);

    &::before {
      right: 1rem;
    }
  }
}

[data-user-color-scheme="dark"] .theme-toggle__button {
  
  &::before {
    right: 1.5rem;
  }

  &:active::before {
    right: 1rem;
  }
}