$lineWidth: 2px;
$lineColor: var(--color-stroke);

@mixin pseudo-line {
    display: block;
    position: absolute;
    content: '';
    background-color: $lineColor;
}

@mixin pseudo-line-v {
    @include pseudo-line();
    height: $lineWidth;
    left: 0;
    right: 0;
    top: 50%;
}

@mixin pseudo-line-h {
    @include pseudo-line();
    width: $lineWidth;
    top: 0;
    bottom: 0;
    right: 50%;
}

.timeline {
    display: flex;
    flex-direction: column;
    position: relative;

    &:after {
        @include pseudo-line-h();
    }

    li {
        position: relative;
        z-index: 100;

        & + li {
            margin-top: 3rem;
        }
    }
}

.event {
    background-color: var(--color-bg);
    display: flex;
    align-items: flex-start;
    padding: 1rem;
    border-radius: 4px;
    border: $lineWidth solid $lineColor;
    position: relative;
    z-index: 100;
}

.event .event__image {
    overflow: hidden;
    margin-right: 1rem;
    border-radius: 50%;
    background-color: $lineColor;

    // fighting with .post__body figure, reset a bunch of stuff
    width: 100px;
    height: 100px;
    transform: none;
    margin-left: 0;
    max-width: none;

    img {
        border-radius: 50%;

        // fighting with .post__body img, reset a bunch of stuff
        box-shadow: none;
    }
}

.event__content {
    flex: 1;
}

@media screen and (min-width: 801px) {

    .timeline li {
        $distance-from-timeline: 20%;

        & + li {
            margin-top: 6rem;

            &::after {
                z-index: 10;

                @include pseudo-line-v();
            }
        }

        &:nth-of-type(n+2) {
            width: 50%;
        }

        &:nth-child(odd) {
            align-self: flex-end;
            margin-right: 0;

            .event {
                margin-left: #{$distance-from-timeline};
                margin-right: -#{$distance-from-timeline};    
            }
        }

        &:nth-child(even) {
            align-self: flex-start;
            margin-left: 0;

            .event {
                margin-left: -#{$distance-from-timeline};
                margin-right: #{$distance-from-timeline};    
            }
        }

        &:first-child,
        &:last-child {
            align-self: initial;
            width: 100%;

            .event {
                width: 75%;
                margin: 0 auto;
            }

            &::after {
                display: none;
            }
        }
    }

    .event {
        padding: 2rem;
    }
}
