<header class="[ intro ] [ intro--home ][ pad-top-900 pad-bottom-max ]">
  <div class="layer">
    <div class="grid">
        <div class="grid__item">
            &nbsp;
        </div>
        <div class="grid__item">
            &nbsp;
        </div>
        <div class="grid__item">
            &nbsp;
        </div>
        <div class="grid__item">
            &nbsp;
        </div>
        <div class="grid__item">
            &nbsp;
        </div>
        <div class="grid__item">
            &nbsp;
        </div>
        <div class="grid__item">
            &nbsp;
        </div>
        <div class="grid__item">
            &nbsp;
        </div>
        <div class="grid__item">
            &nbsp;
        </div>
    </div>
  </div>
  <div class="layer">
    <div class="content">
        <h1 class="[ intro__heading{{ ' intro__heading--compact' if page.url === '/' }} ] [ p-name ]">{{ introHeading }}</h1>
        {% if introSummary %}
          <div class="[ intro__summary ] [ sf-flow ] [ leading-mid measure-short ]">{{ introSummary | safe }}</div>
        {% endif %}
        <p class="[ text-700 ]">This too shall pass.</p>
        <p class="[ text-700 ]">👨‍💻 🇦🇺</p>
    </div>
  </div>
  <div class="[ inner-wrapper ] [ sf-flow ]">

  </div>
</header>
