{% if navigation.items %}
  <nav class="nav">
    <ul class="[ nav__list ] [ nav__list--footer ] [ box-flex align-center ]">
      {% include "partials/components/nav.njk" %}
    </ul>
  </nav>
{% endif %}
