{% if navigation.items %}
  <nav class="nav">
    <ul class="[ nav__list ] [ box-flex align-center md:space-before text-400 ]">
      {% include "partials/components/nav.njk" %}
    </ul>
  </nav>
{% endif %}
