<div class="soundtrack">
    <iframe src="https://open.spotify.com/embed/{{ soundtrack | safe }}" width="380" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
</div>