{% if soundtrack %}
<div class="soundtrack">
    <p>Written under the influence of...</p>
    <div class="soundtrack__embed">
        <iframe src="https://open.spotify.com/embed/{{ soundtrack | safe }}" width="380" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    </div>
</div>
{% endif %}