<footer role="contentinfo" class="[ site-foot ] [ pad-top-700 pad-bottom-900 ]">
  <div class="wrapper">
    <div class="[ site-foot__inner ]">
      <div>
        {% include "partials/components/nav-foot.njk" %}
      </div>
    </div>
    {% if site.showThemeCredit %}
      <p class="[ site-foot__credit ] [ pad-top-900 ]">
        &copy; 2020 {{ site.name }}. Powered by the <a href="https://hylia.website" rel="external">Hylia Eleventy Starter Kit v{{ pkg.version }}</a>.
      </p>
    {% endif %}
  </div>
</footer>
