<a class="skip-link" href="#main-content">Skip to content</a>
<header role="banner" class="[ site-head ] {{ 'site-head--home' if page.url == '/' }}">
  <div class="wrapper">
    <span class="visually-hidden">{{ site.name }}: {{ pageType }}</span>
    <div class="[ site-head__inner ] [ box-flex space-between align-center ]">
      <a href="/" class="[ site-head__site-name ] [ leading-tight ]"{{ 'aria-current=page' if page.url == '/' | safe }}>
        <span class="visually-hidden">{{ 'Back to homepage' if page.url != '/' else 'Homepage' }}</span>
        <span class="[ site-head__site-name ] visually-hidden [ text-400 ]" aria-hidden="true">{{ site.name }}</span>
        <span class="[ site-head__site-logo ]">
          <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="16" height="16" fill-opacity="0.5"/>
            <rect x="32" width="16" height="16"/>
            <rect x="16" y="16" width="16" height="16" fill-opacity="0.75"/>
            <rect y="32" width="16" height="16" fill-opacity="0.25"/>
          </svg>
        </span>
      </a>
      {% include "partials/components/nav-head.njk" %}
    </div>
  </div>
</header>
