{% extends 'layouts/page.njk' %}
{% set pageType = 'About' %}

{# Intro content #}
{% set introHeading = title %}

{% block content %}
  <main id="main-content" tabindex="-1">
    <article class="[ post ] [ h-entry ]">
      {% include "partials/components/intro.njk" %}
      <div class="[ post__body ] [ inner-wrapper ] [ leading-loose pad-top-900 pad-bottom-900 text-500 ] [ sf-flow ] [ e-content ]">
        <section class="layoutWrapper sf-flow">
            <div class="layout__image sf-flow">
                <figure>
                    <img src="/images/avatar_blue_sq.png" alt="Miko's face" loading="lazy">
                    <figcaption>Yes, this site's palette is based off of this image.</figcaption>
                </figure>
            </div>
            <div class="sf-flow">
                <p>
                    I'm a design-focused UI developer. I'm passionate about Design Systems, UX and Accessibility, and I specialise in redesigns and rebranding strategies.
                </p>
                <p>
                    I've been lucky to work in this industry for over 10 years with many talented individuals, both as a manager and as an engineer.
                </p>
                {% include "partials/components/social.njk" %}
            </div>
        </section>
        <hr/>
        <section class="sf-flow">
            <p>
                I've spent the last few years leading and managing the Design Operations team at <a href="https://finder.com.au">Finder.com.au</a>, Australia's largest comparison website. We owned the Luna Design System, and progressively redesigned the entire site experience globally – from individual UI components, to unifying dozens of page types and templates across thousands of pages into one.
            </p>
            <p>
                Before that, I was the Senior Front End Engineer on the Luna Design System. I worked closely with Designers to help define and build reusable components for our hundreds of publishers to use in thousands of pages, across a dozen of our websites. I also helped to build the Niche Builder, a now core piece of Finder infrastructure, with an agile focus in a custom legacy system.
            </p>
        </section>
        <hr/>
        <section class="sf-flow">
            {% include "partials/components/timeline.njk" %}
        </section>
      </div>
    </article>
  </main>
{% endblock %}

{{ content | safe }}
