---
import BaseLayout from '../../layouts/BaseLayout.astro';

const title = 'Lemongrab';
const description = 'This code is in unacceptable condition! UNACCEPTABLE!';
const permalink = `${Astro.site.href}lemongrab`;
---

<BaseLayout title={title} description={description} permalink={permalink} current="lemongrab">
<h1>Lemongrab</h1>
<p>Nothing to see here. Only lemongrab.</p>