---
import BaseLayout from '../layouts/BaseLayout.astro';

const title = '404 Page Not Found';
const description = 'Oops.';
---

<BaseLayout title={title} description={description}>
  <div class="container">
    <h1>Oops!</h1>
    <p>404 Page Not Found</p>
  </div>
</BaseLayout>

<style>
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 50vh;
  }
</style>