---
import BaseLayout from '../layouts/BaseLayout.astro';

const title = 'About';
const description = 'What I do, and why I do it.';
const permalink = `${Astro.site.href}about`;
---

<BaseLayout title={title} description={description} permalink={permalink} current="about">
  <div class="container">
    <h1>About Miko</h1>
    <figure class="about-image">
      <img src="/assets/avatar.png" alt="Headshot of me. Shot with iPhone or whatever." width="330">
    </figure>
    <p>I'm a design-focused UI developer. I'm passionate about Design Systems, UX and Accessibility, and I specialise in redesigns and rebranding strategies.</p>
    <p>I've been lucky to work in this industry for well over a decade with many talented individuals, both as a manager and as an engineer.</p>
    <p>I'm the Team Lead for the Front End team at <a href="https://www.innowell.org" target="_blank" rel="noreferrer noopener">Innowell</a>.</p>
  </div>
</BaseLayout>

<style>
  .about-image {
    float: right;
    margin: 0 -7em 2em 2em;
    max-width: 300px;
  }

  .about-image img {
    border-radius: 8px;
    margin-bottom: 1.5em;
  }

  @media (max-width: 1020px) {
    .about-image {
      float: none;
      margin: 0 auto 2em;
    }
  }
</style>
