---
import BaseLayout from '../layouts/BaseLayout.astro';

const title = 'About';
const description = 'What I do, and why I do it.';
const permalink = `${Astro?.site?.href}about`;
---

<BaseLayout title={title} description={description} permalink={permalink} current="about">
  <div class="container">
    <h1>About Miko</h1>
    <figure class="about-image">
      <img src="/assets/avatar.png" alt="Headshot of me. Shot with iPhone or whatever." width="330">
    </figure>
    <p>I'm a seasoned developer and designer with well over a decade of experience in leading teams and building digital products. I'm motivated by creating a positive impact in people's lives through great digital experiences. I've found I naturally gravitate to creating tooling that helps others do the same.</p>
    <p>I work primarily in Front End development. These days, that's usually in React and React Native. I specialise in Design Systems, redesigns and rebranding strategies.</p>
    <p>I manage the development team at <a href="https://www.innowell.org" target="_blank" rel="noreferrer noopener">Innowell</a>.</p>
    <p>For something a bit more recent, check out my <a href="/now">Now page</a>. You can also find links to my socials in the footer.</p>
    <h2>About this website</h2>
    <p>This is my corner of the internet. It's not a well curated portfolio site; it changes a lot and not always in a good way :)</p>
    <ul>
      <li>
        <p>If you'd like to learn about the changes I make, check out my <a href="/releases">Release Diary</a>.</p>
      </li>
      <li>
        <p>Or, if you just want to know about how the site is built, have a look at the <a href="/credits">Credits page</a>.</p>
      </li>
    </ul>
  </div>
</BaseLayout>

<style>
  .about-image {
    float: right;
    margin: 0 -7em 2em 2em;
    max-width: 300px;
  }

  .about-image img {
    box-shadow: -5px 5px 0 var(--primary-color-transparent);
    border: 1px solid var(--primary-color);
    margin-bottom: 1.5em;
  }

  @media (max-width: 1020px) {
    .about-image {
      float: none;
      margin: 0 auto 2em;
    }
  }
</style>
