---
import BaseLayout from '../layouts/BaseLayout.astro';

const title = 'Contact me';
const description = 'All the places where you can get in touch with me.';
const permalink = `${Astro?.site?.href}contact`;
---

<BaseLayout title={title} description={description} permalink={permalink} current="contact">
  <div class="container">
    <h1>Contact me</h1>
    <p>I'm always happy to hear (or offer!) feedback, and to make new connections.</p>
    <p>You can reach out to me on the platforms below. I try to respond promptly and to everybody.</p>
    <ul>
      <li><a href="https://indieweb.social/@ademagic" target="_blank" rel="me noreferrer noopener">Mastodon</a></li>
      <li><a href="https://www.x.com/miko_a" target="_blank">X/Twitter</a></li>
      <li><a href="https://www.github.com/ademagic" target="_blank" rel="noreferrer noopener">GitHub</a></li>
      <li><a href="https://www.linkedin.com/in/mikoademagic" target="_blank" rel="noreferrer noopener">LinkedIn</a></li>
    </ul>
  </div>
</BaseLayout>
