---
import BaseLayout from '../layouts/BaseLayout.astro';
import Card from '../components/Card.astro';

const title = 'Now';
const description = 'What I am focusing on at this point in my life. Based on nownownow.com';
const permalink = `${Astro.site.href}now`;
---

<BaseLayout title={title} description={description} permalink={permalink}>
  <div class="container wide">
    <div class="grid">
      <div class="left">
        <h1>Now</h1>
        <p><a href="https://nownownow.com/about" target="_blank" rel="noreferrer noopener">Now</a> pages are more stable than a social media feed and less permanent than an <a href="/about">About</a> page. Updated monthly-ish.</p>
      </div>
      <div class="right">
        <Card>
          <ul class="nowlist">
            <li>🎧:<a href="https://www.last.fm/music/Hermanos+Guti%C3%A9rrez/_/Cerca+De+Ti">Hermanos Gutierrez - Cerca De Ti</a></li>
            <li>🎸: Nothing (for now).</li>
            <li>📖: <a href="https://amzn.asia/d/9Vyk7r2">Engineering Management for the Rest of Us - Sarah Drasner</a></li>
          </ul>
        </Card>
      </div>
    </div>
    <hr/>
    <ul>
      <li>
        <h2>July</h2>
        <span class="date">XX/07/23</span>
        <ul>
          <li>Looking forward to a snow trip with the fam ❄️</li>
          <li>Trying to play around with code ideas a bit more. Working on a platform to do that. Next challenge: finding the time.</li>
        </ul>
      </li>
      <li>
        <h2>June</h2>
        <span class="date">02/06/23</span>
        <ul>
          <li>Buying a house in Sydney is way harder than it should be.</li>
          <li>Microsoft Build happened. I'm doing a couple of the coding challenges, actually interesting getting to know the ecosystem outside of Github and VSCode.</li>
          <li>Working on my "creative juices" - trying to draw more, have really been enjoying <a href="https://procreate.com" target="_blank" rel="noopener noreferrer">Procreate</a>.</li>
        </ul>
      </li>
      <li>
        <h2>May</h2>
        <span class="date">04/05/23</span>
        <p>I'm trying to get back into the habit of working on my site after some time focusing on personal things (and holidaying in Fiji). My site is something that's brought me joy over the past year, and has helped me grease my coding gears in times when I couldn't get them moving. It's important to me that i keep it fresh and maintainable.
        <p>A "Now" page is something I recently heard about, and really aligns with my perspective on my presence on the internet, social media, and the indie web. So, here it is.</p>
        <ul>
          <li>Made it through my first year of being a Dad. Happy Birthday, kiddo.</li>
          <li>Working more on Native apps than on Web projects. It's been an exciting paradigm change, and an interesting design challenge.</li>
          <li>Slowly dusting off the Manager part of my career (and brain).</li>
        </ul>
      </li>
    </ul>
  </div>
</BaseLayout>

<style>
  .date {
    font-family: var(--font-family-sans);
    color: var(--text-secondary);
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .right {
    margin-left: 3em;
  }

  .nowlist {
    list-style: none;
  }
</style>