<div>
  <img src="/assets/avatar.png" alt="Headshot of Miko">
  <p>
    Hi, I'm <strong>Miko</strong>. I'm a UI Developer from Sydney, Australia.<br/>
    You can follow me on <a rel="me" href="https://indieweb.social/@ademagic" target="_blank" rel="noreferrer noopener">Mastodon</a> or <a href="https://www.twitter.com/miko_a" target="_blank">Twitter</a>, see my code on <a href="https://www.github.com/ademagic" target="_blank" rel="noreferrer noopener">GitHub</a>, or connect with me on <a href="https://www.maxiferreira.com" target="_blank" rel="noreferrer noopener">LinkedIn</a>.
  </p>
</div>

<style>
  div {
    align-items: center;
    display: flex;
  }

  img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    display: block;
    margin-right: 20px;
  }

  p {
    font-size: 1.125rem;
  }
</style>
