<footer>
  <span>
    &copy; {new Date().getFullYear()} Miko Ademagic.
    <a href="/credits">Credits</a>.
  </span>
</footer>

<style>
  footer {
    color: var(--text-secondary);
    font-size: .8em;
    margin: 1em auto;
    max-width: 1400px;
    padding: 1em 2em;
    text-align: center;
    width: 100%;
  }
</style>
