---
let allReleases = await Astro.glob('../data/releases/*.md');
const latestRelease = allReleases.sort((a, b) => new Date(b.frontmatter.publishDate).valueOf() - new Date(a.frontmatter.publishDate).valueOf()).find(a => a.frontmatter.tags.includes('release'));
---

<footer>
  <div>
    <div class="left">
      <span>
        &copy; {new Date().getFullYear()} Miko Ademagic.
        <ul>
          <li><a target="_blank" rel="noopener nofollow" href="https://indieweb.social/@ademagic">Mastodon</a></li>
          <li><a target="_blank" rel="noopener nofollow" href="https://twitter.com/miko_a">Twitter</a></li>
          <li><a target="_blank" rel="noopener nofollow" href="https://github.com/ademagic">Github</a></li>
          <li><a target="_blank" rel="noopener nofollow" href="https://www.linkedin.com/in/mikoademagic/">Linkedin</a></li>
        </ul>
      </span>
      <div>
        <span>Latest Release: <a href={`/releases/${latestRelease.file.split('/').pop().split('.').shift()}`}>{latestRelease.frontmatter.title}</a></span>
      </div>
    </div>
    <div class="right">
      <ul>
        <li><a href="/about">About</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/credits">Credits</a></li>
        <li><a href="/releases">Releases</a></li>
      </ul>
    </div>
  </div>
</footer>

<style>
  footer {
    background-color: var(--background-body-alt);
    color: var(--text-main);
    padding: 5em 2em;
    font-size: .9rem;
    margin: 8em auto 0;
    width: 100%;
  }

  footer > div {
    display: grid;
    grid-template-columns: 3fr 1fr;
    max-width: 1400px;
    margin: 1em auto;
    padding: 0 1em;
  }

  .left {
    display: grid;
    grid-template-rows: 3fr 1fr;
    grid-gap: 1rem 2rem;
  }

  .left ul {
    display: block;
    text-align: left;
    margin: 0;
  }

  .left li {
    display: inline-block;
  }
  .left li + li {
    margin-left: 1px solid var(--text-main);
  }

  ul {
    display: grid;
    grid-template-rows: 1fr 1fr;
    list-style: none;
    grid-gap: 1rem 2rem;
    padding-inline-start: 0px;
    text-align: right;
  }

  li {
    font-size: .9rem;
    margin: 0;
    line-height: 2;
  }
</style>
