:root {
  // Pull the tokens and generate custom props
  @each $color in $stalfos-colors {
    #{'--color-' + nth($color, 1)}: #{nth($color, 2)};
  }

  // Set theme aliases
  --color-mode: 'light';

  --color-bg: #{get-color('light')};
  --color-bg-glare: #{get-color('primary-glare')};
  --color-bg-dark: #{get-color('primary-shade')};
  
  --color-text: #{get-color('dark')};
  --color-text-light: #{get-color('light')};
  --color-text-glare: #{get-color('dark')};
  --color-selection-text: #{get-color('light')};
  --color-selection-bg: #{get-color('dark')};
  --color-stroke: #{get-color('mid')};
  --color-action-bg: #{get-color('primary')};
  --color-action-text: #{get-color('dark')};
  
  --color-theme-primary: #{get-color('primary')};
  --color-theme-primary-glare: #{get-color('primary-glare')};
  --color-theme-highlight: #{get-color('highlight')};
  --color-theme-highlight-block: #{get-color('highlight')};
  
  --color-theme-header-bg: var(--color-bg);
  --color-theme-header-border: var(--color-stroke);
  --color-theme-header-text: var(--color-text);
  --color-theme-introHome-bg: #{get-color('primary-shade')};
  --color-theme-introHome-text: #{get-color('light')};
  --color-theme-footer-bg: #{get-color('secondary-shade')};
  --color-theme-footer-border: #{get-color('secondary')};
  --color-theme-footer-text: var(--color-text-light);
}

@include dark-mode() {
  --color-bg: #{get-color('superdark')};
  --color-bg-glare: #{get-color('slate')};
  --color-bg-dark: #{get-color('dark')};
  
  --color-text: #{get-color('light')};
  --color-link: #{get-color('primary-glare')};
  --color-selection-text: #{get-color('dark')};
  --color-selection-bg: #{get-color('secondary')};
  --color-stroke: var(--color-bg-glare);
  --color-action-bg: var(--color-theme-primary-glare);
  --color-action-text: #{get-color('dark')};
  
  --color-theme-primary: #{lighten(get-color('primary'), 50%)};
  --color-theme-primary-glare: #{lighten(get-color('primary-glare'), 50%)};
  --color-theme-highlight: #{get-color('primary')};
  --color-theme-highlight-block: #{get-color('slate')};
  --color-theme-feature-text: var(--color-secondary-glare);
  
  --color-theme-header-border: var(--color-bg-glare);
  --color-theme-introHome-bg: var(--color-bg-glare);
  --color-theme-footer-border: #{get-color('superdark')};
  --color-theme-footer-bg: var(--color-bg-dark);
}

body {
  color: var(--color-text);
  background-color: var(--color-bg);
  transition: all 0.3s ease-in;
}

main {
  overflow: hidden;
}

::selection {
  color: var(--color-selection-text);
  background-color: var(--color-selection-bg);
}
